.card {
  border: 1px solid green;
  margin: 20px 10px;
  background: rgb(11, 155, 190);

  &__photo {
    margin: 0px;
    padding: 0px;
  }

  &__name {
    margin: 0px;
  }

  &__type {
    margin: 0px;
  }
}
