.detail {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: auto;

  &__title {
    text-align: right;
    font-size: 30px;
    margin: 0px;
    &:hover {
      color: greenyellow;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25),
        4px 4px 10px rgba(0, 0, 0, 0.2);
    }
  }

  &__container {
    background: rgb(11, 155, 190);
    display: flex;
    flex-direction: row;
    padding: 30px;
    border-radius: 20px;

    &__photo {
      border-radius: 50%;
      transform: scale(0.8);
      &:hover {
        box-shadow: 10px 10px 100px yellowgreen;
      }
    }

    &__aside {
      padding-left: 5%;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;

      &-text {
        margin: 0px;
        font-size: 30px;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25),
          4px 4px 10px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
